body {
  font-family: Arial, sans-serif;
  font-weight: bolder;
  background-color: rgb(14, 13, 13); 
  color: white; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1{
  padding: 20px;
}

/* Updated styles for the switch container */
.switch-container {
  position: fixed;
  width: 140px; 
  height: 50px;
  display: inline-block; 
}

#toggle-switch {
  position: absolute;
  width: 100px; 
  height: 55px; 
  background-color: rgb(192, 51, 16);
  transition: background-color 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#toggle-switch.on {
  background-color: rgb(15, 104, 20); 
}

/* Add text labels for ON and OFF */
#toggle-switch::before {
  content: "OFF";
  position: center;
}

#toggle-switch.on::before {
  content: "ON";
}

/* Add styles for the border box */
.switch-border {
  background-color: rgb(146, 146, 118);
  display: inline-block;
  border: 2px solid #ccc; 
  padding: 2px; 
  border-radius: 5px; 
}

/* Update styles for the switch container */
.switch-container {
  position: relative;
  width: 160px; 
}
/* to style the message when the switch in on and off */
#switch-message {
  position: absolute;
  color: white;
  top: 2px;
}
